html, 
body {
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
}

.container-tasks-list {
  color: black;
  border:2px solid white;
  background-color: #d0d0d5;
  /* min-height: 400px; */
}



